
<h4>Boletos em Lote</h4>
<hr />

<br />
<%= form_tag({ controller: 'lote', action: 'generate' }, method: 'get') do %>

<p>Para gerar boletos em lote, informe o número do aluno: <strong>

  <%= select_month(0 , prompt: 'Selecione o mês...') %>
  

  <%= submit_tag "Gerar Carnê" , :class => 'btn btn-primary' %>
 </strong> </p>
<% end %>

<p style="color:red;"><span style="color:black;">Obs:</span> Os carnês serão gerados para o ano todo, não há como retroceder a ação de gerar carnês.</p>

<hr />


<h5>Carnês</h5>


<br />
<hr />
<%= search_form_for @q do |f| %>

  <%= f.label "Número do Aluno:", :style => 'font-wieght:bold;' %>
  <%= f.search_field :client_id_eq, :style => 'width:250px;' %>
  <%= f.submit "Buscar ", :class => 'btn btn-primary', :style => 'margin-left: 50px;' %>

<% end %>
<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Número Boleto</th>
      <th>Valor</th>
      <th>Emissão</th>
      <th>Vencimento</th>
      <th>Imprimir</th>


      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @carne.each do |carne| %>
      <tr>

      	<% 
      	@cliente = carne.client
      	puts @cliente.registro_aluno
      	  %>
        <td><%= @cliente.registro_aluno %></td>
        <td><%= carne.doc_number %></td>
        <td><%= carne.amount %></td>
        <td><%= carne.emission.strftime('%d/%m/%y') %></td>
        <td><%= carne.maturity.strftime('%d/%m/%y') %></td>
        <td>
          <% if carne.printed == false %>
          <span style="color:red;">Aguardando Impressão.</span>
          <%= link_to "Imprimir", impressao_path(carne.id),  :class => "btn btn-primary", :style => "height:35px; margin-left:35px; background:grey;"  %>
          <% else %>
          <span style="color:red;">Impresso.</span>
          <% end %>
        </td>

 
      </tr>
    <% end %>
  </tbody>
</table>
<div style="margin-left:25%;">
<center><%= will_paginate @carne, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Próximo' %></center>
</div>
<br />