<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div style=" height:550px; padding:10px;">
  <fieldset>
    <legend>Dados Pessoais</legend>
   
  <div class="field" style="float:left;">
    <%= f.label "Nome do Responsável" %><br>
    <%= f.text_field :name, :autofocus => true, :style => 'width:350px;' %>
  </div>
  <div class="field" style="float:left;  margin-left:80px;">
    <%= f.label "Nome de Guerra do Aluno" %><br>
    <%= f.text_field :student, :style => 'width:350px; ' %>
  </div>

  <div class="field" style="float:left;">
    <%= f.label :"Número do Aluno" %><br>
    <%= f.text_field :registro_aluno, :style => 'width:200px;' %>
  </div>
  <div class="field" style="float:left; margin-left:230px; ">
    <%= f.label :"Turma/Classe - Aluno" %><br>
    <%= f.text_field :turma, :style => 'width:350px; ' %>
  </div>
  <div class="field" style="float:left; ">
    <%= f.label :"Documento (Pai do Aluno)" %><br>
    <%= f.text_field :cpf %>
  </div>
</fieldset>
<br />
<fieldset>
    <legend>Dados de Contato</legend>
  <div class="field" style="float:left; ">
    <%= f.label :"Email (Pai do Aluno)" %><br>
    <%= f.text_field :email, :style => 'width:300px;' %>
  </div>
    <div class="field" style="float:left; margin-left:120px;">
    <%= f.label :"Telefone de Contato" %><br>
    <%= f.text_field :phone, :style => 'width:300px;' %>
  </div>
  
  <div class="field" style="float:left; ">
    <%= f.label :"Endereço" %><br>
    <%= f.text_field :address, :style => 'width:720px;' %>
  </div>
</fieldset>
<br />
  <div class="field" style=" float:left; margin-top:-15px;">
    <%= f.submit "Incluir Dados", class: 'btn btn-success' %>
  </div>
<% end %>
</div>

