<br />
<%= search_form_for @q do |f| %>

  <%= f.label "Nome do Cliente:" %>
  <%= f.search_field :name_cont %>
    <%= f.submit "Buscar ", :class => 'btn btn-primary' %>
<% end %>
<br />
<hr />
<br />
<%= link_to 'Incluir Novo', new_client_path, :class => 'btn btn-primary', :style => 'background: #2196F3' %>
<hr />
<br />
<table>
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Nome Aluno</th>
      <th>CPF (Pai do Aluno)</th>
      <th>Número do Aluno</th>
      <th>Turma/Classe - Aluno</th>
      <th>Endereço</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.student %></td>
        <td><%= client.cpf %></td>
        <td><%= client.registro_aluno %></td>
        <td><%= client.turma %></td>
        <td><%= client.address %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Excluir', client, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<div style="margin-left:25%;">
<center><%= will_paginate @clients, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Próximo' %></center>
</div>
<br>


