<!DOCTYPE html>
<html>
<head>
  <title>Associação de Pais e Mestres - CMCG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
  	#centro {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
}

  </style>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <%= javascript_tag do %>
    Materialize.toast('<%= value %>', 3000, '<%= "toast-#{key}" %>');
  <% end %>
<% end %>

<%= render 'layouts/partials/navbar' %>

<div class="container fadeIn">
  <%= yield %>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
});
</script>
</body>
</html>
